.pop_up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: 'Orbitron', sans-serif;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
}

.pop_up:target {
  opacity: 1;
  visibility: visible;
}

.pop_up_area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pop_up_body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
}

.pop_up_content {
  position: relative;
  max-width: 400px;
  max-height: 60%;
  background-color: #fff;
  color: #000;
  padding: 30px;
  border-radius: 2%;
  border: 1px solid #281f21;
}

.pop_up_close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.about_popup:hover {
  color: orange;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.pop_up_input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2%;
  border: 1px solid #281f21;
}

input[type='text']:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border: none;
}

.pop_up_input_1,
.pop_up_input_2,
.pop_up_input_3 {
  width: 100%;
  height: 40px;
}

.pop_up_input_4 {
  width: 100%;
  min-height: 120px;
}

.pop_up_btn {
  width: 100%;
  height: 40px;
  background-color: orange;
  color: #fff;
  border-radius: 3%;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.header {
  position: relative;
  color: #fff;
  overflow: hidden;
  height: 200px;
  padding-bottom: 20px;
}

.header_bg_video {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.header_content {
  text-align: center;
  font-size: 10px;
  margin-top: 100px;
}

.header_content .header_title {
  position: relative;
  font-size: 16px;
}

.header_content .header_title::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 1;
  display: block;
  width: 100%;
  height: 100%;
  background-image: linear-gradient rgba(0, 0, 0, 0) 25%, rgba(0, 0, 0, 0.7);
}

.header_content .title_span {
  font-size: 8px;
}

.header_inner {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  z-index: 2;
  position: fixed;
}

.header_inner .logo {
  width: 40px;
  height: 40px;
  font-weight: bold;
  margin-top: 18px;
  margin-left: 14px;
  font-size: 20px;
  z-index: 999;
  cursor: pointer;
}

.header_inner .logo_link {
  cursor: pointer;
  z-index: 99;
  color: #fff;
  text-shadow: 0 5px 20px #ffa500, 0 0 10px rgba(212, 230, 161, 0.00898876), 0 0 20px #ffa500, 0 0 50px #ffa500, 5px 9px 5px rgba(0, 0, 0, 0.08);
}

.header_inner .logo_link:hover {
  -webkit-animation: neon 1s ease infinite;
          animation: neon 1s ease infinite;
}

@-webkit-keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 20px #d3c96e, 0 0 60px #d3c96e, 0 0 20px #d3c96e, 0 0 20px #d3c96e, 0 0 8px #fed128, 8px 8px 12px #ffa500;
    color: #ffa500;
  }
  50% {
    text-shadow: 0 5px 20px #ffa500, 0 0 10px #d4e602, 0 0 20px #ffa500, 0 0 50px #ffa500, 5px 9px 5px black;
    color: #ffa500;
  }
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 20px #d3c96e, 0 0 60px #d3c96e, 0 0 20px #d3c96e, 0 0 20px #d3c96e, 0 0 8px #fed128, 8px 8px 12px #ffa500;
    color: #ffa500;
  }
  50% {
    text-shadow: 0 5px 20px #ffa500, 0 0 10px #d4e602, 0 0 20px #ffa500, 0 0 50px #ffa500, 5px 9px 5px black;
    color: #ffa500;
  }
}

.menu_body {
  display: none;
}

.menu_icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 30px;
  height: 16px;
  cursor: pointer;
  position: fixed;
  top: 35px;
  right: 30px;
}

.menu_icon span,
.menu_icon::after,
.menu_icon::before {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #ffa500;
}

.menu_icon span:hover {
  background-color: #fff;
}

.menu_icon::before,
.menu_icon::after {
  content: "";
}

.menu_icon::after {
  bottom: 0;
}

.menu_icon::before {
  top: 0;
}

.menu_icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.menu_icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.menu_icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.menu_icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.menu_body {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 100px 30px 30px 30px;
  -webkit-transition: left 0.5s ease 0s;
  transition: left 0.5s ease 0s;
  overflow: auto;
  z-index: 3;
}

.menu_body._active {
  display: block;
  left: 0;
}

.menu_body._active li {
  margin-left: 60px;
  margin-bottom: 20px;
}

.menu_body::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 3;
}

@media (min-width: 480px) {
  .header {
    min-height: 250px;
  }
  .header .logo {
    font-size: 24px;
    margin-top: 8px;
  }
  .header_inner {
    min-height: 100px;
    padding: 0 30px;
  }
  .header_inner .logo {
    width: 60px;
    height: 60px;
    margin-top: 38px;
    margin-left: 14px;
  }
  .header_content {
    font-size: 16px;
    padding: 0px 10px;
    margin-top: 120px;
  }
  .menu_icon {
    top: 47px;
    right: 40px;
  }
}

@media (min-width: 768px) {
  .header_inner {
    padding: 0 40px;
  }
  .header_content {
    font-size: 20px;
    margin-top: 140px;
  }
  .menu_icon {
    display: block;
    position: fixed;
    height: 18px;
    top: 46px;
    right: 50px;
  }
  .menu_body {
    display: block;
  }
  .menu_body li {
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  .menu_body .menu_link {
    color: #ffa500;
    font-size: 20px;
  }
  .menu_body .menu_link:hover {
    color: #fff;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 100vh;
  }
  .header_content {
    padding: 0px 50px;
    margin-top: 320px;
  }
  .header_content .header_title {
    font-size: 38px;
    letter-spacing: 2px;
  }
  .header_content .title_span {
    font-size: 16px;
  }
  .header_inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
    position: fixed;
  }
  .header_inner .logo {
    font-size: 30px;
    margin-top: 34px;
    margin-left: 0px;
  }
  .menu_icon {
    height: 20px;
    right: 70px;
    top: 44px;
  }
  .menu_body._active li:first-of-type {
    margin-left: 100px;
    margin-bottom: 20px;
  }
}

.main {
  padding: 20px;
  margin-top: 100px;
  color: #0d0d13;
}

.section {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block_image {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.block_image .image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: url(/img/avatar_z.png) center no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.about {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  width: 100%;
  color: #fff;
  background-image: radial-gradient(circle 343px at 46.3% 47.5%, #f2f2f2 0%, #f1f1f1 72.9%);
}

.about h3 {
  color: #0d0d13;
}

.about_story {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  min-height: 80%;
  border-radius: 10px;
  border: 1px solid #281f21;
  line-height: 1.4;
  letter-spacing: 1.2px;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #455666 0%, #222222 90%);
}

.about_story p {
  font-size: 12px;
}

.skills_progress_box {
  margin-top: 20px;
  padding: 20px;
  min-width: 100%;
  min-height: 80%;
  border-radius: 10px;
  border: 1px solid #fff;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #455666 0%, #222222 90%);
}

.skills_progress_box .progress_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 20px;
  border-radius: 5px;
  margin-top: 20px;
  color: #0d0d13;
  position: relative;
}

.skills_progress_box .progress_box span {
  font-size: 14px;
  width: 40px;
  height: 10px;
  color: #fff;
  margin-left: -15px;
  text-shadow: 0 5px 20px #ffa500, 0 0 10px #d4e602, 0 0 20px #ffa500, 0 0 50px #ffa500, 5px 9px 5px black;
}

.progress_line_1,
.progress_line_2,
.progress_line_3,
.progress_line_4,
.progress_line_5,
.progress_line_6,
.progress_line_7 {
  position: absolute;
  background-color: #fff;
  -webkit-box-shadow: 0 5px 20px #ffa500, 0 0 10px #d4e602, 0 0 20px #ffa500, 0 0 50px #ffa500, 5px 9px 5px black;
          box-shadow: 0 5px 20px #ffa500, 0 0 10px #d4e602, 0 0 20px #ffa500, 0 0 50px #ffa500, 5px 9px 5px black;
  width: 0px;
  height: 10px;
  left: 70px;
  top: 5px;
  border-radius: 5px;
}

.progress_line_1 {
  -webkit-animation: progres_1 1.5s 1 linear forwards;
          animation: progres_1 1.5s 1 linear forwards;
}

.progress_line_2 {
  -webkit-animation: progres_2 1.5s 1 linear forwards;
          animation: progres_2 1.5s 1 linear forwards;
}

.progress_line_3 {
  -webkit-animation: progres_3 1.5s 1 linear forwards;
          animation: progres_3 1.5s 1 linear forwards;
}

.progress_line_4 {
  -webkit-animation: progres_4 1.5s 1 linear forwards;
          animation: progres_4 1.5s 1 linear forwards;
}

.progress_line_5 {
  -webkit-animation: progres_5 1.5s 1 linear forwards;
          animation: progres_5 1.5s 1 linear forwards;
}

.progress_line_6 {
  -webkit-animation: progres_6 1.5s 1 linear forwards;
          animation: progres_6 1.5s 1 linear forwards;
}

.progress_line_7 {
  -webkit-animation: progres_7 1.5s 1 linear forwards;
          animation: progres_7 1.5s 1 linear forwards;
}

@-webkit-keyframes progres_1 {
  0% {
    width: 0%;
  }
  25% {
    width: 15%;
  }
  50% {
    width: 30%;
  }
  75% {
    width: 45%;
  }
  100% {
    width: 60%;
  }
}

@keyframes progres_1 {
  0% {
    width: 0%;
  }
  25% {
    width: 15%;
  }
  50% {
    width: 30%;
  }
  75% {
    width: 45%;
  }
  100% {
    width: 60%;
  }
}

@-webkit-keyframes progres_2 {
  0% {
    width: 0%;
  }
  25% {
    width: 15%;
  }
  50% {
    width: 30%;
  }
  75% {
    width: 45%;
  }
  100% {
    width: 60%;
  }
}

@keyframes progres_2 {
  0% {
    width: 0%;
  }
  25% {
    width: 15%;
  }
  50% {
    width: 30%;
  }
  75% {
    width: 45%;
  }
  100% {
    width: 60%;
  }
}

@-webkit-keyframes progres_3 {
  0% {
    width: 0%;
  }
  25% {
    width: 5%;
  }
  50% {
    width: 10%;
  }
  75% {
    width: 15%;
  }
  100% {
    width: 20%;
  }
}

@keyframes progres_3 {
  0% {
    width: 0%;
  }
  25% {
    width: 5%;
  }
  50% {
    width: 10%;
  }
  75% {
    width: 15%;
  }
  100% {
    width: 20%;
  }
}

@-webkit-keyframes progres_4 {
  0% {
    width: 0%;
  }
  25% {
    width: 2.5%;
  }
  50% {
    width: 5%;
  }
  75% {
    width: 7.5%;
  }
  100% {
    width: 10%;
  }
}

@keyframes progres_4 {
  0% {
    width: 0%;
  }
  25% {
    width: 2.5%;
  }
  50% {
    width: 5%;
  }
  75% {
    width: 7.5%;
  }
  100% {
    width: 10%;
  }
}

@-webkit-keyframes progres_5 {
  0% {
    width: 0%;
  }
  25% {
    width: 2.5%;
  }
  50% {
    width: 5%;
  }
  75% {
    width: 7.5%;
  }
  100% {
    width: 10%;
  }
}

@keyframes progres_5 {
  0% {
    width: 0%;
  }
  25% {
    width: 2.5%;
  }
  50% {
    width: 5%;
  }
  75% {
    width: 7.5%;
  }
  100% {
    width: 10%;
  }
}

@-webkit-keyframes progres_6 {
  0% {
    width: 0%;
  }
  25% {
    width: 7.5%;
  }
  50% {
    width: 15%;
  }
  75% {
    width: 22.5%;
  }
  100% {
    width: 30%;
  }
}

@keyframes progres_6 {
  0% {
    width: 0%;
  }
  25% {
    width: 7.5%;
  }
  50% {
    width: 15%;
  }
  75% {
    width: 22.5%;
  }
  100% {
    width: 30%;
  }
}

@-webkit-keyframes progres_7 {
  0% {
    width: 0%;
  }
  25% {
    width: 5%;
  }
  50% {
    width: 10%;
  }
  75% {
    width: 15%;
  }
  100% {
    width: 20%;
  }
}

@keyframes progres_7 {
  0% {
    width: 0%;
  }
  25% {
    width: 5%;
  }
  50% {
    width: 10%;
  }
  75% {
    width: 15%;
  }
  100% {
    width: 20%;
  }
}

.section_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 50px;
}

.section_projects .project_box {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 90%;
          flex: 1 0 90%;
  background-color: transparent;
  width: 30%;
  height: 300px;
  border: 1px solid #999;
  border-radius: 10px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin: 0px 10px 20px 10px;
}

.section_projects .project_box .box_inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: center;
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.section_projects .project_box a {
  text-decoration: none;
  color: #fff;
}

.project_box:hover .box_inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.box_front,
.box_back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.box_front {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #455666 0%, #222222 90%);
  color: #fff;
}

.box_back {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #455666 0%, #222222 90%);
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.section_inspiration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.section_inspiration .inspiration_room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 600px;
  border-radius: 50px;
  background: #e0e0e0;
  -webkit-box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
  box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
}

.inspiration_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 90%;
          flex: 1 0 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  min-height: 200px;
}

.inspiration_button {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#bebebe), to(#fff));
  background-image: linear-gradient(top, #bebebe, #fff);
  border-radius: 50%;
  -webkit-box-shadow: 4px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 2px 4px 1px 1px white, inset 0px -3px 1px 1px #bebebe80;
          box-shadow: 4px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 2px 4px 1px 1px white, inset 0px -3px 1px 1px #bebebe80;
  height: 100px;
  position: relative;
  width: 100px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inspiration_button:after {
  color: #bebebe;
  content: '';
  display: block;
  font-size: 30px;
  height: 50px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 50px;
}

.inspiration_span {
  font-size: 30px;
  color: orange;
}

@media (min-width: 360px) {
  .skills_progress_box .progress_box span {
    margin-left: 0;
  }
  .progress_line_1,
  .progress_line_2,
  .progress_line_3,
  .progress_line_4,
  .progress_line_5,
  .progress_line_6,
  .progress_line_7 {
    left: 85px;
  }
}

@media (min-width: 480px) {
  .skills_progress_box .progress_box {
    max-width: 500px;
  }
  .skills_progress_box .progress_box span {
    font-size: 16px;
    width: 50px;
    color: #fff;
    margin-left: 0;
  }
  .skills_progress_box .progress_line_1,
  .skills_progress_box .progress_line_2,
  .skills_progress_box .progress_line_3,
  .skills_progress_box .progress_line_4,
  .skills_progress_box .progress_line_5,
  .skills_progress_box .progress_line_6,
  .skills_progress_box .progress_line_7 {
    left: 100px;
  }
  .inspiration_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 50%;
            flex: 1 0 50%;
  }
}

@media (min-width: 768px) {
  .section_projects .project_box {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 35%;
            flex: 1 0 35%;
    margin: 0px 20px 20px 20px;
  }
}

.section_inspiration .inspiration_room {
  width: 95%;
}

@keyframes progres_1 {
  0% {
    width: 0%;
  }
  25% {
    width: 17,5%;
  }
  50% {
    width: 35%;
  }
  75% {
    width: 47,5%;
  }
  100% {
    width: 70%;
  }
}

@keyframes progres_2 {
  0% {
    width: 0%;
  }
  25% {
    width: 17,5%;
  }
  50% {
    width: 35%;
  }
  75% {
    width: 47,5%;
  }
  100% {
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .section_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0px 20px;
  }
  .block_image {
    padding: 40px 0px;
  }
  .block_image .image {
    width: 260px;
    height: 260px;
  }
  .about {
    padding: 30px 20px;
    margin-right: 30px;
  }
  .about_story p {
    font-size: 16px;
  }
  .section_projects {
    padding: 0 50px;
  }
  .section_projects .project_box {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    margin-bottom: 50px;
  }
  .section_inspiration .inspiration_room {
    width: 90%;
  }
  .section_inspiration .inspiration_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
  }
}

.footer_social {
  min-height: 80px;
  background-color: #492b21;
}

.footer_social .social {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_list {
  display: inline-block;
  margin-left: 10px;
}

.fab {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
}

.fab:hover {
  color: #ffa500;
  font-size: 20px;
}

.fab {
  -webkit-transition: -webkit-transform .7s ease-in-out;
  transition: -webkit-transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
}

.fab:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media (min-width: 768px) {
  .social_list {
    margin-left: 20px;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Orbitron", sans-serif;
}

a {
  text-decoration: none;
  color: #ffa500;
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */