.pop_up {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  font-family: 'Orbitron', sans-serif;
  opacity: 0;
  visibility: hidden;
  z-index: 10;
  -webkit-transition: all 0.8s ease 0s;
  transition: all 0.8s ease 0s;
  overflow-y: auto;
  overflow-x: hidden;
}

.pop_up:target {
  opacity: 1;
  visibility: visible;
}

.pop_up_area {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.pop_up_body {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px;
}

.pop_up_content {
  position: relative;
  max-width: 400px;
  max-height: 60%;
  background-color: #fff;
  color: #000;
  padding: 30px;
  border-radius: 2%;
  border: 1px solid #281f21;
}

.pop_up_close {
  position: absolute;
  right: 10px;
  top: 10px;
}

.about_popup:hover {
  color: orange;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.pop_up_input {
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 2%;
  border: 1px solid #281f21;
}

input[type='text']:focus,
textarea:focus {
  outline: none;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  border: none;
}

.pop_up_input_1,
.pop_up_input_2,
.pop_up_input_3 {
  width: 100%;
  height: 40px;
}

.pop_up_input_4 {
  width: 100%;
  min-height: 120px;
}

.pop_up_btn {
  width: 100%;
  height: 40px;
  background-color: orange;
  color: #fff;
  border-radius: 3%;
  border: none;
  cursor: pointer;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
}

.header {
  position: relative;
  color: #fff;
  overflow: hidden;
  height: 200px;
  padding-bottom: 20px;
}

.header_bg_video {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}

.header_content {
  text-align: center;
  font-size: 10px;
  margin-top: 100px;
}

.header_content .header_title {
  font-size: 16px;
}

.header_content .title_span {
  font-size: 8px;
}

.header_inner {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  z-index: 2;
  position: fixed;
}

.header_inner .logo {
  width: 40px;
  height: 40px;
  font-weight: bold;
  margin-top: 18px;
  margin-left: 14px;
  font-size: 20px;
  z-index: 999;
  cursor: pointer;
}

.header_inner .logo_link {
  cursor: pointer;
  z-index: 99;
}

.header_inner .logo_link:hover {
  color: #fff;
}

.menu_body {
  display: none;
}

.menu_icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 30px;
  height: 16px;
  cursor: pointer;
  position: fixed;
  top: 32px;
  right: 30px;
}

.menu_icon span,
.menu_icon::after,
.menu_icon::before {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #ffa500;
}

.menu_icon span:hover {
  background-color: #fff;
}

.menu_icon::before,
.menu_icon::after {
  content: "";
}

.menu_icon::after {
  bottom: 0;
}

.menu_icon::before {
  top: 0;
}

.menu_icon span {
  top: 50%;
  -webkit-transform: scale(1) translate(0px, -50%);
          transform: scale(1) translate(0px, -50%);
}

.menu_icon._active span {
  -webkit-transform: scale(0) translate(0px, -50%);
          transform: scale(0) translate(0px, -50%);
}

.menu_icon._active::before {
  top: 50%;
  -webkit-transform: rotate(-45deg) translate(0px, -50%);
          transform: rotate(-45deg) translate(0px, -50%);
}

.menu_icon._active::after {
  bottom: 50%;
  -webkit-transform: rotate(45deg) translate(0px, 50%);
          transform: rotate(45deg) translate(0px, 50%);
}

.menu_body {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 100px 30px 30px 30px;
  -webkit-transition: left 0.3s ease 0s;
  transition: left 0.3s ease 0s;
  overflow: auto;
  z-index: 3;
}

.menu_body._active {
  display: block;
  left: 0;
}

.menu_body._active li {
  margin-bottom: 20px;
}

.menu_body::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 3;
}

@media (min-width: 480px) {
  .header {
    min-height: 250px;
  }
  .header .logo {
    font-size: 24px;
    margin-top: 8px;
  }
  .header_inner {
    min-height: 100px;
    padding: 0 30px;
  }
  .header_inner .logo {
    width: 60px;
    height: 60px;
    margin-top: 38px;
    margin-left: 14px;
  }
  .header_content {
    font-size: 16px;
    padding: 0px 10px;
    margin-top: 120px;
  }
  .menu_icon {
    top: 47px;
    right: 40px;
  }
}

@media (min-width: 768px) {
  .header_inner {
    padding: 0 40px;
  }
  .header_content {
    font-size: 20px;
    margin-top: 140px;
  }
  .menu_icon {
    display: block;
    position: fixed;
    height: 18px;
    top: 46px;
    right: 50px;
  }
  .menu_body {
    display: block;
  }
  .menu_body li {
    display: inline-block;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  .menu_body .menu_link {
    color: #ffa500;
    font-size: 20px;
  }
  .menu_body .menu_link:hover {
    color: #fff;
  }
}

@media (min-width: 1024px) {
  .header {
    min-height: 100vh;
  }
  .header_content {
    padding: 0px 30px;
    margin-top: 260px;
  }
  .header_content .header_title {
    font-size: 30px;
    letter-spacing: 2px;
  }
  .header_content .title_span {
    font-size: 14px;
  }
  .header_inner {
    width: 100%;
    margin: 0 auto;
    padding: 0 70px;
    position: fixed;
  }
  .header_inner .logo {
    font-size: 30px;
    margin-top: 34px;
  }
  .menu_icon {
    height: 20px;
    right: 70px;
  }
}

.main {
  padding: 20px;
  margin-top: 100px;
  color: #0d0d13;
}

.section {
  min-height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.section_about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.block_image {
  height: 40%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0px;
}

.block_image .image {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background: url(/img/avatar_z.png) center no-repeat;
  background-size: cover;
}

.about {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  width: 100%;
}

.about_story {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  min-height: 80%;
  border-radius: 2%;
  border: 1px solid #281f21;
  line-height: 1.4;
  letter-spacing: 1.2px;
}

.about_story p {
  font-size: 12px;
}

.scills_box {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  min-height: 80%;
  border-radius: 2%;
  border: 1px solid #281f21;
}

.scills_box .scills {
  width: 100%;
  min-height: 24px;
  border-radius: 2%;
  border: 1px solid #281f21;
  margin: 10px 0px;
  position: relative;
}

.scills_box .scills_1,
.scills_box .scills_2,
.scills_box .scills_3,
.scills_box .scills_4,
.scills_box .scills_5,
.scills_box .scills_6,
.scills_box .scills_7,
.scills_box .scills_8 {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #a2aeb9;
  min-height: 10%;
  border: none;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.scills_box .scills_1 .scills_span,
.scills_box .scills_2 .scills_span,
.scills_box .scills_3 .scills_span,
.scills_box .scills_4 .scills_span,
.scills_box .scills_5 .scills_span,
.scills_box .scills_6 .scills_span,
.scills_box .scills_7 .scills_span,
.scills_box .scills_8 .scills_span {
  position: absolute;
  top: 2px;
  left: 3px;
  font-size: 12px;
}

.scills_1 {
  width: 80%;
}

.scills_2 {
  width: 70%;
}

.scills_3 {
  width: 60%;
}

.scills_4 {
  width: 50%;
}

.scills_5 {
  width: 20%;
}

.scills_6 {
  width: 20%;
}

.scills_7 {
  width: 50%;
}

.scills_8 {
  width: 40%;
}

.section_projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin-top: 100px;
}

.section_projects .project_box {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 90%;
          flex: 1 0 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
  border-radius: 5px;
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #dddddd 0.1%, #a2aeb9 90%);
  margin-bottom: 20px;
  cursor: progress;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: relative;
  -webkit-box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
          box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}

.prj_box {
  border: none;
  color: #281f21;
}

.prj_box:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  -webkit-box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
          box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9, 7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.prj_box:hover {
  color: #281f21;
}

.prj_box:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}

.prj_box:active {
  top: 2px;
}

@media (min-width: 768px) {
  .scills .scills_1 .scills_span,
  .scills .scills_2 .scills_span,
  .scills .scills_3 .scills_span,
  .scills .scills_4 .scills_span,
  .scills .scills_5 .scills_span,
  .scills .scills_6 .scills_span,
  .scills .scills_7 .scills_span,
  .scills .scills_8 .scills_span {
    left: 5px;
    font-size: 16px;
  }
  .section_projects .project_box {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 33%;
            flex: 1 0 33%;
    margin-bottom: 50px;
    margin-left: 20px;
  }
}

@media (min-width: 1024px) {
  .section_about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .block_image {
    padding: 40px 0px;
  }
  .block_image .image {
    width: 260px;
    height: 260px;
  }
  .about {
    padding: 30px 20px;
  }
  .about_story p {
    font-size: 16px;
  }
  .section_projects {
    padding: 20px;
  }
  .section_projects .project_box {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 25%;
            flex: 1 0 25%;
    margin-bottom: 50px;
  }
}

.section_inspiration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.section_inspiration .inspiration_room {
  width: 95%;
  min-height: 600px;
  border-radius: 50px;
  background: #e0e0e0;
  -webkit-box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
          box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
}

.footer_social {
  min-height: 80px;
  background-color: #492b21;
}

.footer_social .social {
  min-height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social_list {
  display: inline-block;
  margin-left: 10px;
}

.fab {
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
}

.fab:hover {
  color: #ffa500;
  font-size: 20px;
}

.fab {
  -webkit-transition: -webkit-transform .7s ease-in-out;
  transition: -webkit-transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out, -webkit-transform .7s ease-in-out;
}

.fab:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

@media (min-width: 768px) {
  .social_list {
    margin-left: 20px;
  }
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Orbitron", sans-serif;
}

a {
  text-decoration: none;
  color: #ffa500;
  cursor: pointer;
}

ul, ol, li {
  list-style: none;
}
/*# sourceMappingURL=style.css.map */