
@import 'partials/colors';
@import 'partials/vars';
@import 'partials/font';
@import 'partials/header';
@import 'partials/main';
@import 'partials/footer';

*, *::before, *::after{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
body{
  min-width: 320px;
  overflow-x: hidden;
  font-family:$orbi;
}
a{
  text-decoration: none;
  color:orange;
  
}
ul, ol, li{
  list-style: none;
}