.footer_social{
  min-height: 80px;
  background-color: $hover;
  .social{
    min-height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.social_list{
  display: inline-block;
  margin-left: 10px;
  
}
.fab{
  color:#fff;
  cursor: pointer;
  font-size: 18px;
  display: inline-block;
}
.fab:hover{
  color:$icon;
  
}

.fab {
  transition: transform .7s ease-in-out;
}
.fab:hover {
  transform: rotate(360deg);
}
// .social_link {
//   display: inline-block;
// }

// .social_link:hover {
//   animation: rotate-icon .5s linear 3;
//   -webkit-animation: rotate-icon .5s linear 3;
// }

// @keyframes rotate-icon {
//   0% {
//     transform: rotate(0);
//   }
//   100% {
//     transform: rotate(-360deg);
//   }
// }
@media (min-width: 768px) {
  .social_list{
    margin-left: 20px;
}
}