// main proporties for mobile first
.header {
  position: relative;
  color: #fff;
  overflow: hidden;
  height: 200px;
  padding-bottom: 20px;
  &_bg_video {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  &_content {
    text-align: center;
    font-size: 10px;
    margin-top: 20px;
    .header_title {
      
      font-size: 16px;
    }
    .title_span {
      font-size: 8px;
    }
  }
  &_inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 2;
    // background-color: rgba(255, 255, 255, 0.2);

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-weight: $heavy;
      font-size: 20px;
      z-index: 3;
      cursor: pointer;
      z-index: 4;
    }
    .logo_link{
      cursor: pointer;
    }
    .logo_link:hover {
      color: #fff;
     
    }
  }
}

//header menu

.menu_body {
  display: none;
}
.menu_icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 30px;
  height: 16px;
  cursor: pointer;
  position: fixed;
  top: 30px;
  right: 30px;
}
.menu_icon span,
.menu_icon::after,
.menu_icon::before {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: $icon;
}
.menu_icon span:hover{
  background-color: #fff;
}

.menu_icon::before,
.menu_icon::after {
  content: '';
}
.menu_icon::after {
  bottom: 0;
}
.menu_icon::before {
  top: 0;
}
.menu_icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.menu_icon._active span {
  transform: scale(0) translate(0px, -50%);
}
.menu_icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.menu_icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.menu_body {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 100px 30px 30px 30px;
  transition: left 0.3s ease 0s;
  overflow: auto;
  z-index: 3;
}
.menu_body._active {
  display: block;
  left: 0;
  li {
    margin-bottom: 20px;
  }
}
.menu_body::before {
  content: '';
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 3;
}

@media (min-width: 480px) {
  .header {
    min-height: 250px;
    .logo {
      font-size: 24px;
      margin-top: 8px;
    }
    &_inner {
      min-height: 100px;
      padding: 0 30px;
      .logo {
        width: 60px;
        height: 60px;
      }
    }
    &_content {
      font-size: 14px;
      padding: 0px 10px 0px 10px;
    }
  }
}
@media (min-width: 768px) {
  .header {
    &_inner {
      padding: 0 40px;
    }
  }
  .menu_icon {
    display: block;
    position: fixed;
    height: 18px;
    top: 40px;
    right: 30px;
  }
  .menu_body {
    display: block;
    li {
      display: inline-block;
      margin-left: 20px;
      font-size: 30px;
      font-weight: $heavy;
    }
    .menu_link {
      color: $icon;
      font-size: 20px;
    }
    .menu_link:hover {
      color: #fff;
    }
  }
}
@media (min-width: 1024px) {
  .header {
    min-height: 100vh;
    &_content {
      padding: 0px 30px;
      margin-top: 260px;
      .header_title {
        font-size: 30px;
        letter-spacing: 2px;
      }
      .title_span {
        font-size: 14px;
      }
    }
    &_inner {
      width: 100%;
      margin: 0 auto;
      padding: 0 70px;
      position: fixed;
      .logo {
        font-size: 30px;
      }
    }
  }
  .menu_icon {
    height: 20px;
    right: 70px;
  }
}