// main proporties for mobile first
.header {
  position: relative;
  color: #fff;
  overflow: hidden;
  height: 200px;
  padding-bottom: 20px;
  &_bg_video {
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  &_content {
    text-align: center;
    font-size: 10px;
    margin-top: 100px;
    .header_title {
      position: relative;
      font-size: $f-16;
    }
    .header_title::before {
      position: absolute;
      content: "";
      top:0;
      left:0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      background-image: linear-gradient (rgba(0,0,0,0)25%, rgba(0,0,0,0.7));

    }
    .title_span {
      font-size: $f-8;
    }
   
  }
  &_inner {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    z-index: 2;
    position: fixed;
    

    .logo {
      width: 40px;
      height: 40px;
      font-weight: $heavy;
      margin-top: 18px;
      margin-left: 14px;
      font-size: $f-20;
      z-index: 999;
      cursor: pointer;
    }
    .logo_link {
      cursor: pointer;
      z-index: 99;
      color: #fff;
      text-shadow: 0 5px 20px #ffa500, 0 0 10px rgba(212, 230, 161, 0.8 / 89%),
        0 0 20px #ffa500, 0 0 50px #ffa500, 5px 9px 5px rgba(0, 0, 0, 0.8 / 10%);
    }
    .logo_link:hover {
      animation: neon 1s ease infinite;
    }
    
  }
}
@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 20px #d3c96e, 0 0 60px #d3c96e, 0 0 20px #d3c96e,
      0 0 20px #d3c96e, 0 0 8px #fed128, 8px 8px 12px #ffa500;
    color: #ffa500;
  }
  50% {
    text-shadow: 0 5px 20px #ffa500, 0 0 10px rgb(212, 230, 161 / 89%),
      0 0 20px #ffa500, 0 0 50px #ffa500, 5px 9px 5px rgb(0, 0, 0 / 10%);
    color: #ffa500;
  }
}
//header menu

.menu_body {
  display: none;
}
.menu_icon {
  z-index: 5;
  display: block;
  position: relative;
  width: 30px;
  height: 16px;
  cursor: pointer;
  position: fixed;
  top: 35px;
  right: 30px;
}
.menu_icon span,
.menu_icon::after,
.menu_icon::before {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  transition: all 0.3s ease 0s;
  background-color: $icon;
}
.menu_icon span:hover {
  background-color: #fff;
}

.menu_icon::before,
.menu_icon::after {
  content: "";
}
.menu_icon::after {
  bottom: 0;
}
.menu_icon::before {
  top: 0;
}
.menu_icon span {
  top: 50%;
  transform: scale(1) translate(0px, -50%);
}
.menu_icon._active span {
  transform: scale(0) translate(0px, -50%);
}
.menu_icon._active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0px, -50%);
}
.menu_icon._active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0px, 50%);
}

.menu_body {
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  padding: 100px 30px 30px 30px;
  transition: left 0.5s ease 0s;
  overflow: auto;
  z-index: 3;
}
.menu_body._active {
  display: block;
  left: 0;
  li {
    margin-left: 60px;
    margin-bottom: 20px;
  }
}

.menu_body::before {
  content: "";
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 70px;
  z-index: 3;
}

@media (min-width: 480px) {
  .header {
    min-height: 250px;
    .logo {
      font-size: $f-24;
      margin-top: 8px;
    }
    &_inner {
      min-height: 100px;
      padding: 0 30px;
     
      .logo {
        
        width: 60px;
        height: 60px;
        margin-top: 38px;
        margin-left: 14px;
        
      }
    }
    &_content {
      font-size: $f-16;
      padding: 0px 10px;
      margin-top: 120px;
    }
  }
  .menu_icon {
    top: 47px;
    right: 40px;
  }
}
@media (min-width: 768px) {
  .header {
    &_inner {
      padding: 0 40px;
    }
    &_content {
      font-size: $f-20;
      margin-top: 140px;
    }
  }
  .menu_icon {
    display: block;
    position: fixed;
    height: 18px;
    top: 46px;
    right: 50px;
  }
  .menu_body {
    display: block;
    li {
      display: inline-block;
      margin-left: 20px;
      font-size: $f-30;
      font-weight: $heavy;
    }
    .menu_link {
      color: $icon;
      font-size: $f-20;
    }
    .menu_link:hover {
      color: #fff;
    }
  }
}
@media (min-width: 1024px) {
  .header {
    min-height: 100vh;
    &_content {
      padding: 0px 50px;
      margin-top: 320px;
      .header_title {
        font-size: 38px;
        letter-spacing: 2px;
      }
      .title_span {
        font-size: $f-16;
      }
    }
    &_inner {
      width: 100%;
      margin: 0 auto;
      padding: 0 70px;
      position: fixed;
      .logo {
        font-size: $f-30;
        margin-top: 34px;
        margin-left: 0px;
      }
    }
  }
  .menu_icon {
    height: 20px;
    right: 70px;
    top: 44px;
    
  }
  .menu_body._active {
    
    li:first-of-type {
      margin-left: 100px;
      margin-bottom: 20px;
    }
  }
}
