.main {
  padding: 20px;
  margin-top: 100px;
  color: $main-txt;
}
.section {
  min-height: 300px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
// About
.section_about {
  display: flex;
  flex-direction: column;
}
.block_image {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  .image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: url(/img/avatar_z.png) center no-repeat;
    background-size: cover;
  }
}
.about {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  &_story {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    min-height: 80%;
    border-radius: 2%;
    border: 1px solid $br-accent;
    line-height: 1.4;
    letter-spacing: 1.2px;
    p {
      font-size: $f-12;
    }
  }
}
.skills_box {
  margin-top: 20px;
  padding: 20px;
  width: 100%;
  min-height: 80%;
  border-radius: 2%;
  border: 1px solid $br-accent;
  .skills {
    width: 100%;
    min-height: 24px;
    border-radius: 2%;
    margin: 10px 0px;
    position: relative;
  }
  .skills_1,
  .skills_2,
  .skills_3,
  .skills_4,
  .skills_5,
  .skills_6,
  .skills_7,
  .skills_8 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bl-accent;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    min-height: 10%;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    .skills_span {
      position: absolute;
      top: 2px;
      left: 3px;
      font-size: $f-12;
    }
  }
}
.skills_1 {
  width: 80%;
}
.skills_2 {
  width: 70%;
}
.skills_3 {
  width: 60%;
}
.skills_4 {
  width: 50%;
}
.skills_5 {
  width: 20%;
}
.skills_6 {
  width: 20%;
}
.skills_7 {
  width: 50%;
}
.skills_8 {
  width: 40%;
}

// Projects

.section_projects {
  display: flex;
  flex-flow: row wrap;
  margin-top: 100px;
  .project_box {
    flex: 1 0 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 150px;
    border-radius: 5px;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(221, 221, 221, 1) 0.1%,
      $bl-accent 90%
    );
    margin-bottom: 20px;
    cursor: progress;
    transition: all 0.5s ease;
    position: relative;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
      7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
    outline: none;
  }
}
.prj_box {
  border: none;
  color: $br-accent;
}
.prj_box:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  direction: rtl;
  z-index: -1;
  box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
  transition: all 0.3s ease;
}
.prj_box:hover {
  color: $br-accent;
}
.prj_box:hover:after {
  left: auto;
  right: 0;
  width: 100%;
}
.prj_box:active {
  top: 2px;
}

//Inspiration

.section_inspiration {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;
  .inspiration_room {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95%;
    min-height: 600px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
    
  }
  .inspiration_title{
    font-size: $f-12;
    color: orange;
  }
}

@media (min-width: 768px) {
  .skills {
    .skills_1,
    .skills_2,
    .skills_3,
    .skills_4,
    .skills_5,
    .skills_6,
    .skills_7,
    .skills_8 {
      .skills_span {
        left: 5px;
        font-size: $f-16;
      }
    }
  }
  .section_projects {
    .project_box {
      flex: 1 0 33%;
      margin-bottom: 50px;
      margin-left: 20px;
    }
    .project_box:nth-of-type(1){
      margin-left: 0;
    }
    .project_box:nth-of-type(4){
      margin-left: 0;
    }
    .project_box:nth-of-type(7){
      margin-left: 0;
    }
  }
  .section_inspiration{
    .inspiration_title{
      font-size: $f-16;
    }
  }
}
@media (min-width: 1024px) {
  .section_about {
    display: flex;
    flex-direction: row;
  }
  .block_image {
    padding: 40px 0px;
    .image {
      width: 260px;
      height: 260px;
    }
  }
  .about {
    padding: 30px 20px;
    margin-right: 30px;
    &_story {
      p {
        font-size: $f-16;
      }
    }
  }
  .section_projects {
    padding: 0 50px;
    .project_box {
      flex: 1 0 25%;
      margin-bottom: 50px;
    }
  }
  .section_inspiration{
    padding: 0px 16px;
  }
}

