.main {
  padding: 20px;
  margin-top: 100px;
  color: $main-txt;
}
.section {
  min-height: 300px;
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
// About
.section_about {
  display: flex;
  flex-direction: column;
  
}
.block_image {
  height: 40%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  .image {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    background: url(/img/avatar_z.png) center no-repeat;
    background-size: cover;
  }
}
.about {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70%;
  width: 100%;
  color: #fff;
  background-image: radial-gradient(
    circle 343px at 46.3% 47.5%,
    rgba(242, 242, 242, 1) 0%,
    rgba(241, 241, 241, 1) 72.9%
  );
  h3 {
    color: $main-txt;
  }
  &_story {
    margin-top: 20px;
    padding: 20px;
    width: 100%;
    min-height: 80%;
    border-radius: 10px;
    border: 1px solid $br-accent;
    line-height: 1.4;
    letter-spacing: 1.2px;
    background-image: radial-gradient(
      circle farthest-corner at 10% 20%,
      rgba(69, 86, 102, 1) 0%,
      rgba(34, 34, 34, 1) 90%
    );
    p {
      font-size: $f-12;
    }
  }
}

.skills_progress_box {
  margin-top: 20px;
  padding: 20px;
  min-width: 100%;
  min-height: 80%;
  border-radius: 10px;
  border: 1px solid #fff;
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(69, 86, 102, 1) 0%,
    rgba(34, 34, 34, 1) 90%
  );
  .progress_box {
    display: flex;
    width: 100%;
    height: 20px;
    border-radius: 5px;
    margin-top: 20px;
    color: $main-txt;
    position: relative;
    span {
      font-size: 14px;
      width: 40px;
      height: 10px;
      color: #fff;
      margin-left: -15px;
      text-shadow: 0 5px 20px #ffa500, 0 0 10px rgb(212, 230, 161 / 89%),
        0 0 20px #ffa500, 0 0 50px #ffa500, 5px 9px 5px rgb(0, 0, 0 / 10%);
    }
  }
}

.progress_line_1,
.progress_line_2,
.progress_line_3,
.progress_line_4,
.progress_line_5,
.progress_line_6,
.progress_line_7 {
  position: absolute;
  background-color: #fff;
  box-shadow: 0 5px 20px #ffa500, 0 0 10px rgb(212, 230, 161 / 89%),
    0 0 20px #ffa500, 0 0 50px #ffa500, 5px 9px 5px rgb(0, 0, 0 / 10%);
  width: 0px;
  height: 10px;
  left: 65px;
  top: 5px;
  border-radius: 5px;
}
.progress_line_1 {
  animation: progres_1 1.5s 1 linear forwards;
}
.progress_line_2 {
  animation: progres_2 1.5s 1 linear forwards;
}
.progress_line_3 {
  animation: progres_3 1.5s 1 linear forwards;
}
.progress_line_4 {
  animation: progres_4 1.5s 1 linear forwards;
}
.progress_line_5 {
  animation: progres_5 1.5s 1 linear forwards;
}
.progress_line_6 {
  animation: progres_6 1.5s 1 linear forwards;
}
.progress_line_7 {
  animation: progres_7 1.5s 1 linear forwards;
}

@keyframes progres_1 {
  0% {
    width: 0%;
  }
  25% {
    width: 17.5%;
  }
  50% {
    width: 35%;
  }
  75% {
    width: 47.5%;
  }
  100% {
    width: 70%;
  }
}
@keyframes progres_2 {
  0% {
    width: 0%;
  }
  25% {
    width: 17.5%;
  }
  50% {
    width: 35%;
  }
  75% {
    width: 47.5%;
  }
  100% {
    width: 70%;
  }
}
@keyframes progres_3 {
  0% {
    width: 0%;
  }
  25% {
    width: 5%;
  }
  50% {
    width: 10%;
  }
  75% {
    width: 15%;
  }
  100% {
    width: 20%;
  }
}
@keyframes progres_4 {
  0% {
    width: 0%;
  }
  25% {
    width: 2.5%;
  }
  50% {
    width: 5%;
  }
  75% {
    width: 7.5%;
  }
  100% {
    width: 10%;
  }
}
@keyframes progres_5 {
  0% {
    width: 0%;
  }
  25% {
    width: 2.5%;
  }
  50% {
    width: 5%;
  }
  75% {
    width: 7.5%;
  }
  100% {
    width: 10%;
  }
}
@keyframes progres_6 {
  0% {
    width: 0%;
  }
  25% {
    width: 7.5%;
  }
  50% {
    width: 15%;
  }
  75% {
    width: 22.5%;
  }
  100% {
    width: 30%;
  }
}
@keyframes progres_7 {
  0% {
    width: 0%;
  }
  25% {
    width: 5%;
  }
  50% {
    width: 10%;
  }
  75% {
    width: 15%;
  }
  100% {
    width: 20%;
  }
}

// Projects
.section_projects {
  display: flex;
  flex-flow: row wrap;
  margin-top: 50px;

  .project_box {
    flex: 1 0 90%;
    background-color: transparent;
    width: 30%;
    height: 300px;
    border: 1px solid #999;
    border-radius: 10px;
    perspective: 1000px;
    margin: 0px 10px 20px 10px;
    .box_inner {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 10px;
      text-align: center;
      transition: transform 2s;
      transform-style: preserve-3d;
    }
    a {
      text-decoration: none;
      color: #fff;
    }
  }
}
.project_box:hover .box_inner {
  transform: rotateY(180deg);
}

.box_front,
.box_back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;

  backface-visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  justify-content: center;

  align-items: center;
}

.box_front {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(69, 86, 102, 1) 0%,
    rgba(34, 34, 34, 1) 90%
  );
  color: #fff;
}

.box_back {
  background-image: radial-gradient(
    circle farthest-corner at 10% 20%,
    rgba(69, 86, 102, 1) 0%,
    rgba(34, 34, 34, 1) 90%
  );

  transform: rotateY(180deg);
}

//Inspiration

.section_inspiration {
  display:flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 50px;

  .inspiration_room {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    min-height: 600px;
    border-radius: 50px;
    background: #e0e0e0;
    -webkit-box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
    box-shadow: -20px 20px 60px #bebebe, 20px -20px 60px #ffffff;
  }
}


.inspiration_box {
  display: flex;
  flex: 1 0 90%;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  min-height: 200px;
}
.inspiration_button {
  background-image: linear-gradient(top, #bebebe, #fff);
  border-radius: 50%;
  box-shadow: 4px 8px 10px 0px rgba(0, 0, 0, 0.3), inset 2px 4px 1px 1px white,
    inset 0px -3px 1px 1px #bebebe80;
  height: 100px;
  position: relative;
  width: 100px;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inspiration_button:after {
  color: #bebebe;
  content: '';
  display: block;
  font-size: 30px;
  height: 50px;
  text-decoration: none;
  text-shadow: 0px -1px 1px #bdb5b4, 1px 1px 1px white;
  position: absolute;
  width: 50px;
}

.inspiration_span {
  font-size: 30px;
  color: orange;
}
@media (min-width: 480px) {
  .skills_progress_box {
    .progress_box {
      max-width: 500px;

      span {
        font-size: 16px;
        width: 50px;
        color: #fff;
        margin-left: 0;
      }
    }
    .progress_line_1,
    .progress_line_2,
    .progress_line_3,
    .progress_line_4,
    .progress_line_5,
    .progress_line_6,
    .progress_line_7 {
      left: 100px;
    }
  }
  .inspiration_box {
    display: flex;
    flex: 1 0 50%;
  }
}

@media (min-width: 768px) {
  
  .section_projects {
    .project_box {
      flex: 1 0 35%;
      margin: 0px 20px 20px 20px;
    }
  }
}
.section_inspiration {  
  
  .inspiration_room {
    width: 95%;
  }

}
@media (min-width: 1024px) {
  .section_about {
    display: flex;
    flex-direction: row;
    padding: 0px 20px;
  }
  .block_image {
    padding: 40px 0px;
    .image {
      width: 260px;
      height: 260px;
    }
  }
  .about {
    padding: 30px 20px;
    margin-right: 30px;
    &_story {
      p {
        font-size: $f-16;
      }
    }
  }
  .section_projects {
    padding: 0 50px;
    .project_box {
      flex: 1 0 25%;
      margin-bottom: 50px;
    }
  }
  .section_inspiration {  
  
    .inspiration_room {
      width: 90%;
    }
  .inspiration_box {
    display: flex;
    flex: 1 0 25%;
  }
}
}